<div class="row">
    <div class="res">
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src="./../../assets/laxmand1.jpg">
        </div>
        <div class="row" class="col-lg-6 col-sm-12 col-md-6">
            <img src="./../../assets/laxmand.jpg">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src="./../../assets/flower.jpg">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <img src="./../../assets/laxmand2.jpg">
        </div>
    </div>
</div>