<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="./../../assets/laxmand1.jpg" alt="Laxman Dhakal" />
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">Laxman Dhakal</h1>
                <h2 class="quickFade delayThree">Aspiring web developer</h2>
            </div>


            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>

                    <div class="sectionContent">
                        <p>I am an aspiring web developer.I have received full stack viz MEAN stack training from one of the reputed IT institute named broadway infosys.I am confident,eligible web developer suited for both backend and frontend web development.</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Training and Courses</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Courses</h2>
                        <p class="subDetails">2019</p>
                        <p>I have received coursera certificate in basic html,css and javascript hosted by duke university with honors degree. </p>
                    </article>

                    <article>
                        <h2>training</h2>
                        <p class="subDetails"> 2019</p>
                        <p>Received training certificate in MEAN(mongodb Express Angular Nodejs) stack from reputed institute of nepal namely broadway infosys</p>
                    </article>

                    <article>
                        <h2>Job Title at Company</h2>
                        <p class="subDetails">October 2004 - December 2006</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li> adobe Photoshop</li>
                        <li> adobe illustrator</li>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>javascript</li>
                        <li>angular</li>
                        <li>typescript</li>
                        <li>bootstrap</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>College/University</h2>
                        <p class="subDetails">Qualification</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
                    </article>

                    <article>
                        <h2>College/University</h2>
                        <p class="subDetails">Qualification</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>

</body>