<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <img src="./../../assets/daylight-environment-forest-idyllic-459225.jpg">
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
        <br>
        <u><b> <p class="span">About me</p> </b></u>

        <p class="about">Welcome to my site.My name is Laxman Dhakal.I am a normal guy with interests in music ,sports,movies and much more.I am an engineering graduate and an aspiring web developer.
        </p>
        <br>
        <p class="about">This is a basic introductory website about me.I hope share interesting articles,life-events and fun facts through this website. </p>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
        <img src="./../../assets/me2.jpg">
    </div>

</div>